/* .cardPrincipal {
    height: 440px !important;
    width: 95% !important;
} */
#header{
    z-index:1000;
}

header, main, footer {
    padding-left: 300px !important;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.top-nav{
    height: 64px;
}
