<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="css/cssChat.css" ></link>
		<link rel="stylesheet" type="text/css" href="css/cssBasic.css" ></link>
		<title>Chat Joe</title>
	</head>
	<body>
		<div id="header"></div>

		<div class="container">
		<ul class="chat-thread">
			<li>Olá, Como Posso Ajudá-lo?</li>
		</ul>
		<form class="chat-window">
			<input class="chat-window-message" name="chat-window-message" type="text" autocomplete="off" autofocus />
		</form>
	</div>
		<!-- <div id="footer"></div> -->
    <h4>JOE </h4>

	</body>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
	<script type="text/javascript" src="js/jsChat.js"></script>
	<script type="text/javascript" src="js/jsBasic.js"></script>

</html>
