<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/lib/materialize/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/jquery/jquery.flowchart.min.css"></link>

	<link rel="stylesheet" type="text/css" href="css/custom.css"></link>
	<link rel="stylesheet" type="text/css" href="css/cssHome.css"></link>
	<link rel="stylesheet" type="text/css" href="css/cssBasic.css"></link>
	<!-- <link rel="stylesheet" type="text/css" href="css/lib/jquery.flowchart/jquery.flowchart.min.css"></link> -->

	<title>Chat Joe</title>
</head>

<body class="p-b-50 p-relative">
	<div id="loading">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div><div class="gap-patch">
					<div class="circle"></div>
				</div><div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="header"></div>
	<div id="menu"></div>
	<section class="grey lighten-4" style="margin-left: 207px;">
		<nav>
			<div class="nav-wrapper deep-purple lighten-1">
				<div class="col s12 p-l-15">
					<a href="home.html" class="breadcrumb">Home</a>
					<a href="flow.html" class="breadcrumb">Fluxograma</a>
				</div>
			</div>
		</nav>
		<div class="row m-b-0">
			<div class="col s12">
				<div class="card m-t-15">
          <div class="row m-0" style="height: 500px;">
            <div class="col s8 p-0">
             <div id="chart_container">
              <div id="example_9" style="width: 2000px; height: 2000px; background: white;"></div>
            </div>
          </div>
          <div class="col s4 p-0" style="height: 100%; overflow-y: auto; border-left: 1px solid #ddd;">
            <ul class="collapsible z-depth-0 m-0" style="border: 0;">
              <li>
                <div class="collapsible-header"><i class="material-icons">chrome_reader_mode</i>Informações gerais</div>
                <div class="collapsible-body p-10">
                  <div class="row m-0">
                    <div class="input-field col s12 m-0 m-t-10">
                      <input id="inTitulo" type="text">
                      <label for="inTitulo">Título</label>
                    </div>
                    <div class="input-field col s12 m-0 m-t-10">
                      <input id="inDescricao" type="text">
                      <label for="inDescricao">Descrição</label>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">zoom_out_map</i>Dimenções do floxo</div>
                <div class="collapsible-body p-10">
                  <div class="row m-0">     
                    <div class="input-field col s12 m-0 m-t-10">
                      <input id="inLargura" type="number" minlength="500" value="2000">
                      <label for="inLargura">Largura</label>
                    </div>
                    <div class="input-field col s12 m-0 m-t-10">
                      <input id="inAltura" type="number" minlength="500" value="2000">
                      <label for="inAltura">Altura</label>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">question_answer</i>Novo operador</div>
                <div class="collapsible-body p-10">
                  <div class="row m-0">
                    <div class="input-field col s12 m-0 m-t-10">
                      <select id="seTipo">
                        <option value="1">Pergunta</option>
                        <option value="2">Afirmação</option>
                      </select>
                      <label>Tipo</label>
                    </div>
                    <div class="input-field col s12 m-0 m-t-10">
                      <input id="" type="text">
                      <label for="last_name">Titulo</label>
                    </div>
                    <div class="input-field col s12 m-0 m-t-10">
                      <a class="waves-effect waves-teal btn-flat right tooltipped" data-position="top" data-tooltip="Novo campo">
                        <i class="material-icons">add</i>
                      </a>
                      <h6 class="deep-purple-text">Entrada</h6>
                      <hr style="border-color: #673ab7;">
                    </div>
                    <div class="input-field col s12 m-0 m-t-10">
                      <input id="input_0" type="text">
                      <label for="input_0">Entrada 1</label>
                    </div>
                    <div id="divInput" class="scale-transition">
                      <div class="input-field col s12 m-0 m-t-10">
                        <a class="waves-effect waves-teal btn-flat right tooltipped" data-position="top" data-tooltip="Novo campo">
                          <i class="material-icons">add</i>
                        </a>
                        <h6 class="deep-purple-text">Saida</h6>
                        <hr style="border-color: #673ab7;">
                      </div>
                      <div class="input-field col s12 m-0 m-t-10">
                        <input id="output_0" type="text">
                      <label for="input_0">Saida 1</label>
                      </div>
                    </div>
                    <div class="input-field col s6 m-0 m-t-10">
                      <div class="draggable_operator ui-draggable ui-draggable-handle" 
                           data-nb-inputs="0" 
                           data-nb-outputs="0" 
                           style="height: 36px; line-height: 29px; text-align: center;width: 100%;">
                        Operador
                      </div>
                    </div>
                    <div class="input-field col s6 m-0 m-t-10">
                      <a class="waves-effect waves-light btn d-block">Gerar</a>
                    </div>
                    <!-- <div class="col s12">
                      <div class="draggable_operators">
                        <div class="draggable_operators_label">
                         Operators (drag and drop them in the flowchart):
                       </div>
                       <div class="draggable_operators_divs">
                         <div class="draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="0">1 input</div>
                         <div class="draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="0" data-nb-outputs="1">1 output</div>
                         <div class="draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">1 input &amp; 1 output</div>
                         <div class="draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="2">1 in &amp; 2 out</div>
                         <div class="draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="2" data-nb-outputs="1">2 in &amp; 1 out</div>
                         <div class="draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="2" data-nb-outputs="2">2 in &amp; 2 out</div>
                       </div>
                     </div>
                     <button class="btn">Delete selected operator / link</button>
                   </div> -->
                 </div>
               </div>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>

</section>
<div id="footer"></div>
</body>
<!-- 
<script src="js/lib/jquery/jquery-3.4.1.min.js"></script>
<script src="js/lib/jquery/jquery-ui.min.js"></script>
<script src="js/lib/panzoom/panzoom.min.js"></script>
<script src="js/lib/jquery/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.flowchart/jquery.flowchart.min.js"></script>
-->

<script type="text/javascript" src="js/lib/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/lib/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/lib/jquery/jquery.panzoom.min.js"></script>
<script type="text/javascript" src="js/lib/jquery/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.flowchart/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="js/lib/materialize/materialize.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jsBasic.js"></script>
<script type="text/javascript" src="js/jsHome.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
    M.AutoInit();


    $('#seTipo').change(function(){
      if ($(this).val() == 1) {
        $('#divInput').removeClass('scale-out');
        $('#divInput').addClass('scale-in');
      } else {
        $('#divInput').removeClass('scale-in');
        $('#divInput').addClass('scale-out');
      }
    });

    $('#inLargura').change(function(){
      let largura = parseInt($(this).val());
      if (largura > 499) {
        $('#example_9').css('width', largura);
      }
    });

    $('#inAltura').change(function(){
      let altura = parseInt($(this).val());
      if (altura > 499) {
        $('#example_9').css('height', altura);
      }
    });

    var $flowchart = $('#example_9');
    var $container = $flowchart.parent();

    var cx = $flowchart.width() / 2;
    var cy = $flowchart.height() / 2;


    // Panzoom initialization...
    $flowchart.panzoom();
    
    // Centering panzoom
    $flowchart.panzoom('pan', -cx + $container.width() / 2, -cy + $container.height() / 2);

    // Panzoom zoom handling...
    var possibleZooms = [0.5, 0.75, 1, 2, 3];
    var currentZoom = 2;
    $container.on('mousewheel.focal', function( e ) {
    	e.preventDefault();
    	var delta = (e.delta || e.originalEvent.wheelDelta) || e.originalEvent.detail;
    	var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
    	currentZoom = Math.max(0, Math.min(possibleZooms.length - 1, (currentZoom + (zoomOut * 2 - 1))));
    	$flowchart.flowchart('setPositionRatio', possibleZooms[currentZoom]);
    	$flowchart.panzoom('zoom', possibleZooms[currentZoom], {
    		animate: false,
    		focal: e
    	});
    });
    
    var data = {
    	operators: {
    		operator1: {
    			top: cy - 100,
    			left: cx - 200,
    			properties: {
    				title: 'Operator 1',
    				inputs: {},
    				outputs: {
    					output_1: {
    						label: 'Output 1',
    					}
    				}
    			}
    		},
    		operator2: {
    			top: cy,
    			left: cx + 140,
    			properties: {
    				title: 'Operator 2',
    				inputs: {
    					input_1: {
    						label: 'Input 1',
    					},
    					input_2: {
    						label: 'Input 2',
    					},
    				},
    				outputs: {}
    			}
    		},
    	},
    	links: {
    		link_1: {
    			fromOperator: 'operator1',
    			fromConnector: 'output_1',
    			toOperator: 'operator2',
    			toConnector: 'input_2',
    		},
    	}
    };
    

    // Apply the plugin on a standard, empty div...
    $flowchart.flowchart({
    	data: data
    });

    $flowchart.parent().siblings('.delete_selected_button').click(function() {
    	$flowchart.flowchart('deleteSelected');
    });
    
    
    var $draggableOperators = $('.draggable_operator');
    
    function getOperatorData($element) {
    	var nbInputs = parseInt($element.data('nb-inputs'));
    	var nbOutputs = parseInt($element.data('nb-outputs'));
    	var data = {
    		properties: {
    			title: $element.text(),
    			inputs: {},
    			outputs: {}
    		} 
    	};

    	var i = 0;
    	for (i = 0; i < nbInputs; i++) {
    		data.properties.inputs['input_' + i] = {
    			label: 'Input ' + (i + 1)
    		};
    	}
    	for (i = 0; i < nbOutputs; i++) {
    		data.properties.outputs['output_' + i] = {
    			label: 'Output ' + (i + 1)
    		};
    	}

    	return data;
    }
    
    var operatorId = 0;

    $draggableOperators.draggable({
    	cursor: "move",
    	opacity: 0.7,

    	helper: 'clone', 
    	appendTo: 'body',
    	zIndex: 1000,

    	helper: function(e) {
    		var $this = $(this);
    		var data = getOperatorData($this);
    		return $flowchart.flowchart('getOperatorElement', data);
    	},
    	stop: function(e, ui) {
    		var $this = $(this);
    		var elOffset = ui.offset;
    		var containerOffset = $container.offset();
    		if (elOffset.left > containerOffset.left &&
    			elOffset.top > containerOffset.top && 
    			elOffset.left < containerOffset.left + $container.width() &&
    			elOffset.top < containerOffset.top + $container.height()) {

    			var flowchartOffset = $flowchart.offset();

    		var relativeLeft = elOffset.left - flowchartOffset.left;
    		var relativeTop = elOffset.top - flowchartOffset.top;

    		var positionRatio = $flowchart.flowchart('getPositionRatio');
    		relativeLeft /= positionRatio;
    		relativeTop /= positionRatio;

    		var data = getOperatorData($this);
    		data.left = relativeLeft;
    		data.top = relativeTop;

    		$flowchart.flowchart('addOperator', data);
    	}
    }
  });
    
    $('#loading').addClass('hide');
  });
</script>

</html>
