<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="css/cssBasic.css" ></link>
		<link rel="stylesheet" type="text/css" href="css/cssHome.css" ></link>

		<title>Chat Joe</title>
	</head>
	<body>
		<div id="loading">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="header"></div>
		<div id="menu"></div>
		<!-- trocar para porcentagem -->
		<section class="sectionCSS">
			<div class="card blue"></div>
		</section>

		<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<div id="footer"></div>
	</body>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
	<script type="text/javascript" src="js/jsBasic.js"></script>
	<script type="text/javascript" src="js/jsHome.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#loading').addClass('hide');
		});
	</script>
</html>